html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.nav_color_text {
    color: #D3D3D3;
    margin: 5px;
}

.colorblack {
    color: #597e8d;
}

.fullHeight {
    height: 100vh;
    background-color: #686868;
}

.lateral {
    height: 95vh;
}

.logo_sushi {
    width: 45px;
}

.bg_contenido {
    background-color: #D3D3D3;
}

.contenido {
    padding: 30px;
    height: 95%;
}

.salto {
    margin-top: 25px;
}

.scroll_column {
    float: left;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 30px;
    scrollbar-width: none;
}
.alerta{
    margin: 0 !important;
}